{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.typedclojure/typed.clj.runtime {:mvn/version "1.0.32"}
        org.typedclojure/typed.clj.checker {:mvn/version "1.0.32"}
        org.typedclojure/typed.malli {:mvn/version "1.0.32"}}}
