{:paths ["src" "dev"]
 :deps {org.clojure/tools.namespace {:mvn/version "1.0.0"}
        com.stuartsierra/component {:mvn/version "1.0.0"}
        ring/ring {:mvn/version "1.8.2"}
        cider/cider-nrepl {:mvn/version "0.25.11"}}}
